<div id="footer">
    <div class="container">
        <p class="muted credit" align="center"><span class="glyphicon glyphicon-copyright-mark"></span> <b><a href="/">air.if.ua</a> </b> - Монтаж та обслуговування кондиціонерів. м. Івано-Франківськ, вул. Запорізька 12. тел. +38 050 108 46 56</p>
    </div>
</div>