<div id="footer">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/"><b>Швидкий монтаж</b></a></h3>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/pre-set"><b>Попереднє прокладання труб</b></a></h3>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/service"><b>Сервісне обслуговування</b></a></h3>
                    </div>

                </div>
            </div>
        </div>
        <p class="muted credit" align="center"><span class="glyphicon glyphicon-copyright-mark"></span> <b><a href="/">air.if.ua</a> </b> - Монтаж та обслуговування кондиціонерів. м. Івано-Франківськ, вул. Запорізька 12. тел. +38 050 108 46 56</p>
    </div>
</div>