<div id="footer">
    </br>
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/"><b>Швидкий монтаж</b></a></h3>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/pre-set"><b>Попереднє прокладання труб</b></a></h3>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/service"><b>Сервісне обслуговування</b></a></h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="vcard" align="center">
            <div class="adr">
                <span class="fn org"><b>Монтаж та обслуговування кондиціонерів</b></span>:
                <span class="street-address">Запорізька 12,</span>
                <span class="locality">Івано-Франківськ</span>, <span class="postal-code">76019</span>,
                <span class="country-name">Україна</span>,
                <span class="tel"><a href="tel:+380679582508">+38 067 958 25 08</a></span>,
                <span class="tel"><a href="tel:+380501084656">+38 050 108 46 56</a></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
(function(a,l,b,c,r,s){_nQc=c,r=a.createElement(l),s=a.getElementsByTagName(l)[0];r.async=1;r.src=l.src=("https:"==a.location.protocol?"https://":"http://")+b;s.parentNode.insertBefore(r,s);})(document,"script","serve.albacross.com/track.js","89929759");
</script>