<div id="footer">
    </br>
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/"><b>Швидкий монтаж</b></a></h3>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/pre-set"><b>Попереднє прокладання труб</b></a></h3>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading" align="center">
                        <h3 class="panel-title"><a href="/service"><b>Сервісне обслуговування</b></a></h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="vcard" align="center">
            <div class="adr">
                <span class="fn org"><b>Монтаж та обслуговування кондиціонерів</b></span>:
                <span class="street-address">Запорізька 12,</span>
                <span class="locality">Івано-Франківськ</span>, <span class="postal-code">76019</span>,
                <span class="country-name">Україна</span>,
                <span class="tel">+38 050 108 46 56</span>,
                <span class="tel">+38 067 958 25 08</span>
            </div>
        </div>
    </div>
</div>
