<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span><img src="static/favicon.ico" alt="air.if.ua" class="img-rounded" width="20px"></span>
                AIR.IF.UA
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Монтаж кондиціонерів</a></li>
            <li><a href="/service">Сервісне обслуговування</a></li>
            <li><a href="/pre-set">Попереднє прокладання труб</a></li>
            <li><a href="/contacts">Контакти</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript: void(0);"><span class="label label-success">050 108 46 56</span></a></li>
        </ul>

    </div>
</nav>