<!doctype html>
<html ⚡ lang="ua">
<head>
<link rel="canonical" href="/contacts">
<meta name="description" content="Контакти. Монтаж та обслуговування кондиціонерів в Івано-Франківську.">
<meta name="keywords" content="майстер кондиціонерів в івано-франківську, кондиціонери, майстер, обслуговування кондиціонерів, івано-франківськ майстер">

    <% include ../partials/head %>
<title>Контакти. Монтаж та ремонт кондиціонерів в Івано-Франківську. air.if.ua</title>
</head>
<body class="container">
<header>
     <% include ../partials/header %>
</header>
<main>

    <div class="page-header">
        <h1>Контактні дані</h1>
    </div>
    <div class="jumbotron">
        <table>
            <tr>

                <td> <p>
                        Професійний монтаж і установка кондиціонера - запорука його довгої і надійної роботи.
                        Наявність в нашій компанії досвідчених фахівців у сфері кондиціонування,
                        а також використання професійного монтажного обладнання гарантує високу якість вироблених монтажних
                        робіт і безперебійну роботу встановленого кондиціонуючого обладнання. Рівень підготовки наших монтажних
                        бригад дозволяє вирішити організаційні та технічні завдання будь-якого рівня складності.
                    </p></td>
            </tr>
        </table>

    </div>
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4" align="center">
            <p>Майстер: Ігор Степанович</p>
            <p>Телефон: +38 050 108 46 56</p>
            <p>Телефон: +38 067 958 25 08</p>
            <p>Емейл: info@air.if.ua</p>
            <a href="https://plus.google.com/u/0/111658331360381172774" rel="nofollow">Google+ Група</a></br>
            <a href="http://facebook.com/air.if.ua" rel="nofollow">Facebook Сторіка</a></br>

        </div>
        <div class="col-sm-4" align="center">

        </div>
    </div>
    <div class="page-header">
        <h2>Карта</h2>
    </div>
    <amp-iframe width="400" height="200"
        sandbox="allow-scripts allow-same-origin"
        layout="responsive"
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?q=%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F%20%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D1%96%D0%B7%D1%8C%D0%BA%D0%B0%2012%2C%20%D0%86%D0%B2%D0%B0%D0%BD%D0%BE-%D0%A4%D1%80%D0%B0%D0%BD%D0%BA%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2C%20%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&key=AIzaSyCcCQpHzTjngpvCW7uT0rEttBlFxGeS8Js">
    </amp-iframe>


</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>