<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Монтаж та обслуговування кондиціонерів в Івано-Франківську | air.if.ua</title>
</head>
<body class="container">
<div id="wrap">
<header>
    <meta name="description" content="Монтаж та обслуговування кондиціонерів в Івано-Франківську. Підбір кондиціонерів, монтаж, сервісне обслуговування, ремонт, попереднє прокладання труб. ">
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Монтаж кондиціонерів</h1>
        <p>Ми - команда професіоналів з 12-ти річним досвідом роботи у сфері обслуговування кондиціонерів. Ми допоможемо вам підібрати правильний кондиціонер для вашого приміщення, знайдемо де купити дешевше, проведемо монтажні роботи будь якої складності та надамо гарантійне обслуговування.</p>
        <p align="center"><span class="label label-danger">тел. +38 050 108 46 56</span></p>
    </div>

</main>
</div>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>