<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Монтаж та обслуговування кондиціонерів в Івано-Франківську. Підбір кондиціонерів, монтаж, сервісне обслуговування, ремонт, попереднє прокладання труб. ">
<% include ../partials/head %>
<title>Монтаж та обслуговування кондиціонерів в Івано-Франківську | air.if.ua</title>
</head>
<body class="container">
<header>
     <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h1>Монтаж кондиціонерів</h1>
        <p>Ми - команда професіоналів з 12-ти річним досвідом роботи у сфері обслуговування кондиціонерів. Ми допоможемо вам підібрати правильний кондиціонер для вашого приміщення, знайдемо де купити дешевше, проведемо монтажні роботи будь якої складності та надамо гарантійне обслуговування.</p>
        <h4 align="center">Безкоштовна консультація</h4>
        <h2 align="center"><span class="label label-success">тел. +38 050 108 46 56</span></h2>

    </div>
    <div class="page-header">
        <h1>Послуги</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary"  style="height: 215px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#fast"><b>Швидкий монтаж</b></a></h3>
                </div>
                <div class="panel-body">
                    Встановлюємо будь-які види кондиціонерів в приватних будинках,
                    квартирах та офісних приміщеннях.
                    Стандартний монтаж зазвичай триває не більше одного дня.
                    Ціна встановлення залежить від потужності кондиціонера та характеристик приміщення.
                    Деталі можна дізнатися за номером <span class="label label-primary">+38 050 108 46 56</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger" style="height: 215px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/pre-set"><b>Попереднє прокладання труб</b></a></h3>
                </div>
                <div class="panel-body">
                    Плануєте купити кондиціонер але боїтеся зіпсувати новий ремонт?
                    Ми пропонуємо таку послугу як попереднє прокладання фреонових магістралей,
                    які закладаються в стіни квартири для майбутнього монтажу кондиціонера.
                    Детальніше <a href="/pre-set">тут</a> або за тел.
                    <span class="label label-danger">+38 050 108 46 56</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-info"  style="height: 215px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/service"><b>Сервісне обслуговування</b></a></h3>
                </div>
                <div class="panel-body">
                    Сервісне обслуговування включає в себе дрібний ремонт кондиціонерів, чистку вузлів,
                    фреонову дозаправку, діагностику та демонтаж. Ми даємо гарантію на свою роботу.
                    Дізнатися детальніше про послугу можна <a href="/service">тут</a> або зателефонувавши нам за номером
                    <span class="label label-info">+38 050 108 46 56</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h1>Монтаж кондиціонерів в Івано-Франківську</h1>
    </div>



</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>