<!DOCTYPE html>
<html lang="ua">
<head>
<meta name="description" content="Монтаж та ремонт кондиціонерів в Івано-Франківську. Низькі ціни, відгуки від клієнтів,
калькулятор потужності, ремонт, попереднє прокладання труб.">
<meta name="keywords" content="монтаж кондиціонерів, монтаж кондиціонерів івано-франківськ, монтаж кондиціонерів в івано-франківську, кондиціонери, обслуговування кондиціонерів, івано-франківськ">
<% include ../partials/head %>
<title>Монтаж кондиціонерів в Івано-Франківську: низькі ціни. air.if.ua</title>
</head>
<body class="container">
<header>
     <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">

        <img src="static/logo.png" width="90px" style="display: inline" alt="air.if.ua - Монтаж та ремонт кондиціонерів в Івано-Франківську">
        <h1 style="display: inline">Монтаж кондиціонерів <small>в Івано-Франківську</small></h1>
        <p>Компанія <b>air.if.ua</b> надає широкий спектр послуг у сфері систем кондиціонування повітря,
            та включає в себе підбір, продаж та монтаж кониціонерів і кліматичного обладнання,
            встановлення та обслуговування систем кондиціонування будь-якого типу: від монтажу побутових
            кондиціонерів і спліт-систем до проектування та встановлення промислових кондиціонерів і комплексних
            систем кондиціонування.
        </p>
        <h4 align="center">Безкоштовна консультація</h4>
        <div align="center" style="margin-bottom: 20px;"><span class="label label-success" style="font-size: 18px; margin-bottom: 30px;">тел. +38 050 108 46 56</span></div>
        <p>Наша компанія базується у м. Івано-Франкіськ та обслуговує клієнтів по цілій області.
            Ми допомагаємо нашим клієнтам підібрати правильний кондиціонер для конкретного приміщення,
            а також підкажемо де купити дешевше кондиціонер, проводимо монтажні роботи будь якої складності та
            надаємо гарантійне обслуговування.</p>


    </div>
    <div class="jumbotron">
        <h2 >Стандартний монтаж кондиціонерів</h2>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-thumbnail" src="static/images/split.jpg" alt="Cпліт-система кондиціонерів" width="180px">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Що таке спліт-система?</h3>
                Спліт-система влаштована так, що між внутрішнім і зовнішнім блоком повинні прокладатися труби і кабелі комунікації.
                Повітря по трубах з вулиці не передається - це міф. Традиційні спліт-системи не забирають повітря зовні,
                а труби необхідні для того, щоб холодоагент (фреон) міг циркулювати в різних фазових
                станах по замкнутому циклу. Те ж саме відбувається в холодильнику. Спрощено це виглядає так: морозильна
                камера холодильника - це ваш внутрішній блок кондиціонера, а решітка для охолодження - зовнішній блок кондиціонера.
                Ті ж самі труби і той же самий фреон в трубах, тільки ту частину, яку потрібно охолоджувати винесено за межі приміщення.
                Так от, щоб кондиціонер працював, необхідно надійно і герметично з'єднати всі трубопроводи, потім відкачати з них
                повітря і запустити в контур фреон. Фреон в новому кондиціонері вже заправлений і знаходиться під тиском в рідкому
                стані в зовнішньому блоці спліт-системи. Якщо щось пішло не так і фреон почав витікати, терміново звертайтеся за <a href="/service">ремонтом кондиціонерів</a>.
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-thumbnail" src="static/images/inside.jpg" alt="Внутрішній блок кондиціонеріа" width="180px">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Внутрішній блок кондиціонера. Етап 1.</h3>
                Дуже часто при установці кондиціонера доцільніше прокладати міжблочні труби і кабелі,
                а також дренажний трубопровід в штробі. <a href="/pre-set">Попереднє прокладання труб</a> виконується у випадку,
                якщо Ви вирішили встановити кондиціонер під час ремонту.
                Такий монтаж виконується в два етапи і дозволяє встановити внутрішній блок таким чином,
                щоб до нього не велися ніякі видимі комунікації. Ще одна перевага такого монтажу -
                внутрішній блок встановлюється в останню чергу, а значить, він не буде забруднений під час ремонту.
                У перший етап монтажна бригада проробляє штробу, бурить отвір у зовнішній стіні, прокладає труби в
                теплоізоляції, кабелі, дренажний трубопровід. Зовні вивішується зовнішній блок кондиціонера і
                відразу проводиться підключення комунікацій до нього. Це робиться, по-перше, для того, щоб в труби
                не потрапила волога, і не окислялись кінці кабелю, а по-друге, для того, щоб на другий етап робіт
                залишити якомога менше робіт, і зокрема, пов'язаних з відкриванням вікон.
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-thumbnail" src="static/images/outside.jpg" alt="Зовнішній блок кондиціонеріа" width="180px">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Зовнішній блок кондиціонера. Етап 2.</h3>
                Для сучасних кондиціонерів зовнішній блок може бути як нижче, так і вище внутрішнього,
                так як схема холодильного циклу замкнута, а діаметри труб підібрані так, щоб швидкість холодоагенту
                забезпечувала повернення масла в компресор. Однак, перепад висот між зовнішнім і
                внутрішнім блоком повинен відповідати, вказаною в інструкції з монтажу. Що ж стосується місця
                установки внутрішнього блоку, то місце для нього визначається так, щоб холодне повітря не мало
                на своєму шляху перешкод і могло би своїм повітряним потоком охоплювати всі приміщення, однак при
                цьому не повинно бути прямого потоку спрямованого на місце довготривалого перебування людини.
                Такими місцями є крісла, дивани, ліжка та інше. Не слід розташовувати кондиціонери над шафами і глухих
                нішах. У кожному конкретному випадку, краще порадитися з фахівцем.
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-thumbnail" src="static/images/setup.jpg" alt="Навіщо потрібен кондиціонер?" width="180px">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Навіщо потрібен кондиціонер?</h3>
                Щоб забезпечити людям максимально зручні умови перебування в приміщенні потрібно,
                щоб внутрішньокімнатних повітря було не тільки очищений від пилу, але і містив близько 20% кисню
                і не більше 0,4% вуглекислого газу, при кімнатній температурі не вище 22 °С , відносної вологості
                повітря - 50% і швидкості руху повітря - приблизно 15 см в секунду.
                Комфортно людина себе почуває тільки тоді, коли існує теплова рівновага, тобто кількість тепла,
                яке виробляє організм, дорівнює кількості тепла, яке поглинається зовнішнім середовищем.
                Такий баланс для людини одягненого в легкий одяг настає при температурі плюс 20-22 °С.
                Саме використання професійного кліматичного обладнання приваблює відвідувачів у великі торгові центри
                та кафе в спекотні літні дні. Також деякі види техніки вимагають безперервного контролю температури,
                тому кліматичні установки необхідні в серверних, інтернет-кафе, а також на деяких виробництвах.
                Кондиціонери можуть застосовуватися для підтримки сприятливих - сприяють комфортному самопочуттю людини,
                умов в житлових або виробничих приміщеннях.
            </div>
        </div>

    </div>


    <div class="page-header">
        <h2>Послуги</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary"  style="height: 215px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#fast"><b>Швидкий монтаж</b></a></h3>
                </div>
                <div class="panel-body">
                    Встановлюємо будь-які види кондиціонерів в приватних будинках,
                    квартирах та офісних приміщеннях.
                    Стандартний монтаж зазвичай триває не більше одного дня.
                    Ціна встановлення залежить від потужності кондиціонера та характеристик приміщення.
                    Деталі можна дізнатися за номером <span class="label label-primary">+38 050 108 46 56</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger" style="height: 215px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/pre-set"><b>Попереднє прокладання труб</b></a></h3>
                </div>
                <div class="panel-body">
                    Плануєте купити кондиціонер але боїтеся зіпсувати новий ремонт?
                    Ми пропонуємо таку послугу як попереднє прокладання фреонових магістралей,
                    які закладаються в стіни квартири для майбутнього монтажу кондиціонера.
                    Детальніше <a href="/pre-set">тут</a> або за тел.
                    <span class="label label-danger">+38 050 108 46 56</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-info"  style="height: 215px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/service"><b>Сервісне обслуговування</b></a></h3>
                </div>
                <div class="panel-body">
                    Сервісне обслуговування включає в себе дрібний ремонт кондиціонерів, чистку вузлів,
                    фреонову дозаправку, діагностику та демонтаж. Ми даємо гарантію на свою роботу.
                    Дізнатися детальніше про послугу можна <a href="/service">тут</a> або зателефонувавши нам за номером
                    <span class="label label-info">+38 050 108 46 56</span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">Ціни на монтажні роботи</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead><tr>
                    <th>#</th>
                    <th>Послуга</th>
                    <th>Ціна*</th>
                    <th>Примітка</th>
                </tr></thead>
                <tbody>

                <tr>
                    <td>1</td>
                    <td>Монтажні роботи</td>
                    <td>1500 грн.</td>
                    <td>за один кондиціонер до 4 кВт холодильної потужності, типорозмір 07-09</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Монтажні роботи</td>
                    <td>1700 грн.</td>
                    <td>за один кондиціонер понад 4 кВт до 7кВт холодильної потужності, типорозмір 12-18</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Монтажні роботи</td>
                    <td>1900 грн.</td>
                    <td>за один кондиціонер понад  7кВт холодильної потужності типорозмір 24 і більше</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Розхідні матеріали</td>
                    <td>400 грн.</td>
                    <td>за один м,п для кондиціонерів до 4 кВт холодильної потужності, типорозмір 07-09</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Розхідні матеріали</td>
                    <td>500 грн.</td>
                    <td>за один м,п для кондиціонерів від 4 кВт до 7кВт холодильної потужності, типорозмір 12-18</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Розхідні матеріали</td>
                    <td>600 грн.</td>
                    <td>за один м,п для кондиціонерів від  7кВт холодильної потужності, типорозмір 24 і більше</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Демонтаж кондиціонера</td>
                    <td>600 грн.</td>
                    <td>за один кондиціонер</td>
                </tr>

                </tbody>

            </table>
            <div class="well well-sm">* ціни можуть варіюватися в залежності від вашого конкретного випадку та курсу валют. Уточніть ціни на послуги за телефоном вказаним на сайті!</div>
        </div>
    </div>
    <div class="page-header">
        <h2>Відгуки наших клієнтів</h2>
    </div>
    <div align="center">
        <div class="g-post" data-href="https://plus.google.com/+AirIfUa/posts/3vmtBjRrPy5" style="display: inline"></div>
        <div class="g-post" data-href="https://plus.google.com/+AirIfUa/posts/12hbwxRytuZ" style="display: inline"></div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>