<!doctype html>
<html ⚡ lang="ua">
<head>
<link rel="canonical" href="/pre-set">
<meta name="keywords" content="Попереднє прокладання фреонових магістралей, Попереднє прокладання фреонових магістралей, Попереднє прокладання фреонових магістралей для кондиціонерів в івано-франківську, кондиціонери, обслуговування кондиціонерів, івано-франківськ">
<meta name="description" content="Попереднє прокладання труб для майбутнього монтажу кондеціонерів в Івано-Франківську">
<% include ../partials/head %>
<title>Попереднє прокладання фреонових магістралей для майбутнього монтажу кондиціонерів</title>
</head>
<body class="container">
<header>
     <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h1>Попереднє прокладання труб <small>Івано-Франківськ</small></h1>
        <p>Плануєте купити кондиціонер але боїтеся зіпсувати новий ремонт?
            Ми пропонуємо таку послугу як попереднє прокладання фреонових магістралей,
            які закладаються в стіни квартири для майбутнього монтажу кондиціонера.</p>
        <% include ../partials/contacts %>

        <div class="page-header">
            <h2>Процес попереднього прокладання магістралей</h2>
        </div>
        <div align="center">
            <amp-img class="media-object img-thumbnail h1icon" src="static/images/IMG_0929.JPG" alt="попереднє прокладання фреонових магістралей" width="500px" height="500px"></amp-img>
            <amp-img class="media-object img-thumbnail h1icon" src="static/images/IMG_1043.JPG" alt="попереднє прокладання фреонових магістралей" width="500px" height="500px"></amp-img>
        </div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>