<!DOCTYPE html>
<html lang="ua">
<head>
<meta name="keywords" content="Попереднє прокладання фреонових магістралей, Попереднє прокладання фреонових магістралей, Попереднє прокладання фреонових магістралей для кондиціонерів в івано-франківську, кондиціонери, обслуговування кондиціонерів, івано-франківськ">
<meta name="description" content="Попереднє прокладання труб для майбутнього монтажу кондеціонерів в Івано-Франківську">
<% include ../partials/head %>
<title>Попереднє прокладання фреонових магістралей для майбутнього монтажу кондиціонерів</title>
</head>
<body class="container">
<header>
     <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h1>Попереднє прокладання труб <small>Івано-Франківськ</small></h1>
        <p>Плануєте купити кондиціонер але боїтеся зіпсувати новий ремонт?
            Ми пропонуємо таку послугу як попереднє прокладання фреонових магістралей,
            які закладаються в стіни квартири для майбутнього монтажу кондиціонера.</p>
        <h4 align="center">Безкоштовна консультація</h4>
        <div align="center" style="margin-bottom: 20px;"><span class="label label-success" style="font-size: 18px; margin-bottom: 30px;">тел. +38 050 108 46 56</span></div>
        <div align="center">
            <img class="media-object img-thumbnail" src="static/images/IMG_0929.JPG" alt="попереднє прокладання фреонових магістралей" width="500px" style="display: inline">
            <img class="media-object img-thumbnail" src="static/images/IMG_1043.JPG" alt="попереднє прокладання фреонових магістралей" width="500px" style="display: inline">
        </div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>