<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Попереднє прокладання труб для майбутнього монтажу кондеціонерів в Івано-Франківську">
<% include ../partials/head %>
<title>Попереднє прокладання фреонових магістралей для майбутнього монтажу кондиціонерів | air.if.ua</title>
</head>
<body class="container">
<header>
     <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h1>Попереднє прокладання труб</h1>
        <p>Плануєте купити кондиціонер але боїтеся зіпсувати новий ремонт?
            Ми пропонуємо таку послугу як попереднє прокладання фреонових магістралей,
            які закладаються в стіни квартири для майбутнього монтажу кондиціонера.</p>
        <h4 align="center">Дізнайтеся більше</h4>
        <h2 align="center"><span class="label label-success">тел. +38 050 108 46 56</span></h2>

    </div>


    <div class="page-header">
        <h1>Попереднє прокладання фреонових магістралей</h1>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>