<!DOCTYPE html>
<html ⚡ lang="ua">
<head>
<link rel="canonical" href="/service">
    <meta name="description" content="Ремонт кондиціонерів в Івано-Франківську: Низькі ціни, гарантія, сервісне обслуговування, ремонт,
    попереднє прокладання труб.">
    <meta name="keywords" content="ремонт кондиціонерів, ремонт кондиціонерів івано-франківськ, чистка кондиціонерів в івано-франківську, дозаправка кондиціонерів, кондиціонери, обслуговування кондиціонерів, івано-франківськ, гарантійне обслуговування">
    <% include ../partials/head %>
    <title>Гарантійний ремонт кондиціонерів в Івано-Франківську: чистка, дозаправка. air.if.ua</title>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <amp-img src="static/shield-image.png" width="70px" height="70px" class="h1icon" alt="air.if.ua - Ремонт та монтаж кондиціонерів в Івано-Франківську"></amp-img>
        <h1 class="h1icon">Гарантійний ремонт та обслуговування кондиціонерів <small>в Івано-Франківську</small></h1>
        <p>Ми виконуємо гарантійний ремонт та обслуговування кондиціонерів. Фреонова дозаправка, очистка, профілактика, налаштування і т.д.</p>

        <% include ../partials/contacts %>
        <p>З метою збільшення термінів служби експлуатації систем кондиціонування, рекомендуємо проводити регулярне профілактичне сервісне обслуговування кондиціонерів у вашому домі. Це пов'язано як з особливостями конструкцій кондиціонерів, так і з умовами їх експлуатації.
            Необхідно як мінімум 1 раз на півроку проводити чистку і обслуговування вузлів кондиціонера, особливо рекомендуємо перед активним сезоном і після. Оптимальна періодичність сервісного обслуговування - 1 раз на місяць в період експлуатації кондиціонера.</p>
    </div>
    <div class="jumbotron">
        <h2 >Сервісне обслуговування та ремонт кондиціонерів</h2>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <amp-img class="media-object img-thumbnail" src="static/images/repair.jpg" alt="обслуговування кондиціонерів" width="180px" height="180px"></amp-img>
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Роботи, що виконуються в ході технічного обслуговування кондиціонерів</h3>
                <ul>
                    <li>Зовнішній огляд корпуса і вузлів кондиціонера на предмет виявлення зовнішніх ознак пошкоджень вузлів та агрегатів</li>
                    <li>Чистка вхідних жалюзей і повітряного фільтру внутрішнього блоку</li>
                    <li>Чищення теплообмінника внутрішнього блоку (спеціальним антибактеріальним складом)</li>
                    <li>Чищення теплообмінника зовнішнього блоку</li>
                    <li>Перевірка справності системи електроживлення</li>
                    <li>Перевірка роботи кондиціонера у всіх режимах</li>
                    <li>Перевірка функціонування індикації режимів роботи</li>
                    <li>Перевірка роботи вихідних жалюзей внутрішнього блоку</li>
                    <li>Перевірка герметичності з'єднань контура проходження хладагента (в доступних місцях)</li>
                    <li>Перевірка наявності фріону в системі</li>
                    <li>Перевірка справності дренажної системи</li>
                    <li>Перевірка справності електродвигунів і лопастей внутрішнього / зовнішнього блоків</li>
                </ul>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <amp-img class="media-object img-thumbnail" src="static/images/diagnistic.jpg" alt="діагностики системи кондиціонування" width="180px" height="180px"></amp-img>
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Роботи, що виконуються в ході діагностики системи кондиціонування</h3>
                <ul>
                    <li>Перевірка кондиціонера в режимі холод / тепло</li>
                    <li>Замір пускового струму</li>
                    <li>Замір номінального струму</li>
                    <li>Перевірка стану повітряного фільтра</li>
                    <li>Тестування системи за допомогою пульта RC</li>
                    <li>Перевірка затискачів всіх контактних з'єднань</li>
                    <li>Контроль температури сухого повітря на вході у випарник</li>
                    <li>Контроль температури сухого повітря на виході з випарника</li>
                </ul>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <amp-img class="media-object img-thumbnail" src="static/images/IMG_0868.JPG" alt="Специфіка сервісного обслуговування кондиціонерів air.if.ua" width="180px" height="180px"></amp-img>
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Специфіка сервісного обслуговування кондиціонерів</h3>
                Під процедурою сервісного обслуговування кліматтехнікі мається на увазі цілий комплекс заходів, спрямованих на забезпечення безперебійної роботи обладнання протягом довгого періоду часу.
                Сервісне обслуговування кондиціонерів необхідно не тільки з практичної, але і з естетичної точки зору. Важлива роль, при цьому, відводиться діагностуванню та профілактичним оглядам, тому завдяки своєчасному виявленню і заміні зношених деталей можна уникнути серйозних поломок, а, відповідно, і дорогого ремонту кліматичного обладнання. У приміщеннях з підвищеним рівнем вологості та постійної рециркуляцією повітря надзвичайно збільшується ризик мікробного зараження кондиціонера, а значить, сервісне обслуговування кондиціонерів, в цьому випадку, припускає чистку та дезінфекцію. Саме за допомогою регулярного догляду за кліматичним устаткуванням можна уникнути потужної і швидкої атаки небезпечних мікробів-паразитів, які можуть завдати шкоди здоров'ю людини і самому кондиціонеру. окремому випадку повинен підбиратися оптимальний варіант сервісної програми, який, у свою чергу, підлягає коригуванню з урахуванням умов експлуатації обладнання та його особливостей.
                Професійне сервісне обслуговування кондиціонерів допоможе збільшити термін служби і надійність купленої Вами кліматичної системи. Фахівці завжди вчасно проведуть дозаправлення системи холодоагентом, чищення фільтрів і діагностику всіх параметрів. Все залежить від призначення приміщення, інтенсивності експлуатації кондиціонера і його типу.
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <amp-img class="media-object img-thumbnail" src="static/images/freon.jpg" alt="Заправка кондиціонера фреоном" width="180px" height="180px"></amp-img>
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Заправка кондиціонера фреоном</h3>
                Заправка кондиціонера фреоном є найбільш затребуваною і вкрай важливою сервісною процедурою.
                Однією з найпоширеніших причин виходу з ладу кондиціонера є витік холодоагента. Працюючий компресор
                охолоджується фреоном, а при нестачі холодоагента виникає його перегрів, заклинювання і, як наслідок,
                заміна пристрою (а вартість нового компресора можна прирівняти до половині вартості самого кондиціонера).
                Для виявлення проблеми витоку фреону необов'язково відразу проводити професійну діагностику.
                Перші ознаки нестачі холодоагенту в системі будуть помітні візуально - утворення на штуцерних з'єднаннях
                зовнішнього блоку інею (льоду), а користувач відчує відчутне зниження ефективності охолодження повітря в
                приміщенні. При виявленні подібних симптомів необхідно одразу ж вимкнути і не відновлювати роботу
                кондиціонера до приїзду фахівців сервісної служби.
            </div>
        </div>

    </div>


    <div class="page-header">
        <h2>Послуги</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary panel-menu">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#fast"><b>Швидкий монтаж</b></a></h3>
                </div>
                <div class="panel-body">
                    Встановлюємо будь-які види кондиціонерів в приватних будинках,
                    квартирах та офісних приміщеннях.
                    Стандартний монтаж зазвичай триває не більше одного дня.
                    Ціна встановлення залежить від потужності кондиціонера та характеристик приміщення.
                    Деталі можна дізнатися за номером <span class="label label-primary">+38 050 108 46 56</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger panel-menu">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/pre-set"><b>Попереднє прокладання труб</b></a></h3>
                </div>
                <div class="panel-body">
                    Плануєте купити кондиціонер але боїтеся зіпсувати новий ремонт?
                    Ми пропонуємо таку послугу як попереднє прокладання фреонових магістралей,
                    які закладаються в стіни квартири для майбутнього монтажу кондиціонера.
                    Детальніше <a href="/pre-set">тут</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-info panel-menu">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="/service"><b>Сервісне обслуговування</b></a></h3>
                </div>
                <div class="panel-body">
                    Сервісне обслуговування включає в себе дрібний ремонт кондиціонерів, чистку вузлів,
                    фреонову дозаправку, діагностику та демонтаж. Ми даємо гарантію на свою роботу.
                    Дізнатися детальніше про послугу можна <a href="/service">тут</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">Ціни на сервісне обслуговування</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead><tr>
                    <th>#</th>
                    <th>Послуга</th>
                    <th>Ціна*</th>
                    <th>Примітка</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Технічнe обслуговування кондиціонера</td>
                    <td>500 грн.</td>
                    <td>за один кондиціонер до 4 кВт холодильної потужності</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Технічнe обслуговування кондиціонера</td>
                    <td>700 грн.</td>
                    <td>за один кондиціонер понад від 4 кВт до 7 кВт холодильної потужності</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Технічнe обслуговування кондиціонера</td>
                    <td>900 грн.</td>
                    <td>за один кондиціонер понад 7 кВт холодильної потужності</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Дозаправка фреоном</td>
                    <td>400 грн.</td>
                    <td>не включаючи вартість додаткового фреону</td>
                </tr>

                </tbody>

            </table>
            <div class="well well-sm">* ціни можуть варіюватися в залежності від вашого конкретного випадку та курсу валют. Уточніть ціни на послуги за телефоном вказаним на сайті!</div>
        </div>
    </div>

</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>