<!DOCTYPE html>
<html lang="ua">
<head>
<meta name="description" content="Ремонт та обслуговування кондиціонерів в Івано-Франківську. Ремонт, дозаправлення та чистка. ">
<% include ../partials/head %>
<title>Ремонт кондиціонерів в Івано-Франківську: дозаправлення та чистка, гарантія</title>
</head>
<body class="container">
<header>
     <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h1>Ремонт кондиціонерів <small>Івано-Франківськ</small></h1>
        <p>Ми виконуємо будь-які види ремонту та обслуговування кондиціонерів. Фреонова дозаправка, очистка, профілактика, налаштування і т.д.</p>
        <h4 align="center">Розкажіть про свою проблему</h4>
        <h2 align="center"><span class="label label-success">тел. +38 050 108 46 56</span></h2>

    </div>

    <div class="page-header">
        <h1>Ремонт кондиціонерів в Івано-Франківську</h1>
    </div>



</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>